@font-face {
  font-family: webSymbols;
  src: url("./../resources/WebSymbols/WebSymbols-Regular.otf");
}

html {
    overflow: hidden;
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

#system_main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2rem;
}

#system_statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: #f5f5f5;
    z-index: 10000;
}

#system_status {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    bottom: 0.5rem;
}

#system_status2 {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    bottom: 0.5rem;
    color: orangered;
}

#system_loadingMain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(#78c1ff 10%, #0081ff 100%);
    z-index: 10000;
}

#system_loadingGif {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#system_loadingGif div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #9036ff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#system_loadingGif div:nth-child(1) {
    left: 6px;
    animation: system_loadingGif1 0.6s infinite;
}
#system_loadingGif div:nth-child(2) {
    left: 6px;
    animation: system_loadingGif2 0.6s infinite;
}
#system_loadingGif div:nth-child(3) {
    left: 26px;
    animation: system_loadingGif2 0.6s infinite;
}
#system_loadingGif div:nth-child(4) {
    left: 45px;
    animation: system_loadingGif3 0.6s infinite;
}
@keyframes system_loadingGif1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes system_loadingGif3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes system_loadingGif2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

#login_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./../resources/login-background-compressor.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#login_box {
    display: inline-block;
    border: solid lightgray 0.3rem;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #d3d3d399;
    text-align: right;
}

#login_box * {
    margin: 0.25rem;
}

#login_loginButton {
    font-family: webSymbols;
    font-size: 25px;
    color: black;
    border-radius: 6em;
    padding: 0;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    display: table-cell;
    background: lime;
    border: solid green 3px;
}

#desktop_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at bottom right, #8d00ff 0, #001735 270%);
}

#desktop_appwindowspace {
    top: 2.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#taskbar_main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    background: #631f81;
    z-index: 1000;
}

#taskbar_appButton {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding-left: 0.75rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#taskbar_appButton:hover {
    background: #508aff;
    color: white;
}

#appmenu_main {
    position: absolute;
    top: 100%;
    left: 0;
    right: calc(100% - 25rem);
    bottom: calc(100% - 30rem);
    background: #4e4e63;
    border: #303030 solid;
    border-top: none;
    border-left: none;
    z-index: 1000;
}

#appmenu_appList {
    position: absolute;
    left: 0;
    right: 7.5rem;
    bottom: 3.5rem;
    top: 0;
}

#appmenu_catagoryList {
    position: absolute;
    left: calc(100% - 7.5rem);
    right: 0;
    bottom: 3.5rem;
    top: 0;
}

#appmenu_controlButtons {
    position: absolute;
    left: calc(100% - 7.5rem);
    right: 0;
    bottom: 0;
    top: calc(100% - 3.5rem);
    /*background: linear-gradient(to right, blue 0, blue 33.333%, yellow 33.333%, yellow 66.666%, red 66.666%);*/
}

#appmenu_controlButtons * {
    font-family: webSymbols;
    font-size: 25px;
    top: 50%;
    text-align: center;
    vertical-align: middle;
    border-radius: 6em;
    padding: 0;
    height: 34px;
    width: 34px;
    line-height: 34px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transform: translate(0, -50%);
}

#appmenu_settingsButton {
    left: calc((7.5rem / 3) * 0);
    color: black;
    background: yellow;
    border: solid goldenrod 3px;
}

#appmenu_logoutButton {
    left: calc((7.5rem / 3) * 2);
    color: black;
    background: lime;
    border: solid green 3px;
}

#appmenu_userSpace {
    position: absolute;
    left: 0;
    right: 7.5rem;
    bottom: 0;
    top: calc(100% - 3.5rem);
}

.window.minimised {
    visibility: hidden;
}

.window {
    position: absolute;
    z-index: 50;
    width: 200px;
    height: 300px;
    background: red;
}

.window .titlebar {
    cursor: move;
    height: 20px;
    background: green;
}

.window-active {
    z-index: 100;
}

.window-forceTop {
    z-index: 50;
}
